# .github/workflows/publish.yml
name: Publish flutter_declarative_mdx to pub.dev

on:
    push:
        tags:
            - "mdx-[0-9]+.[0-9]+.[0-9]+"

# Publish using the reusable workflow from dart-lang.
jobs:
    publish:
        permissions:
            id-token: write # Required for authentication using OIDC
        uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
        with:
            working-directory: "flutter_declarative_mdx"
